.popup {
  display: none;
}

.popup__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.popup__nav-item {
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
    & a {
      color: #000;
      text-decoration: none;
        &:hover {
          color: #019ec4;
        }
    }
}

.popup__contact-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.popup__contact-language {
  position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 17px;
      width: 124px;
      border-bottom: 2px dotted #019ec4;
    }
}

.popup__contact-language,
.popup__contact-email,
.popup__contact-phone {
  display: inline-block;
  color: #5a5a5a;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
    &:hover {
      color: #019ec4;
    }
}

.popup__social {
  display: flex;
  align-items: baseline;

    &-title {
      margin: 0;
      margin-right: 10px;
      font-size: 13px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &-vk {
      margin-right: 10px;
      color: #c2c2c2;
      cursor: pointer;
        &:hover {
          color: #019ec4;
        }
    }
    &-fb {
      color: #c2c2c2;
      cursor: pointer;
        &:hover {
          color: #019ec4;
        }
    }
}

.popup__callback {
  background: #019ec4;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 7px;
  padding: 3px 8px;
  font-size: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  display: none;
}
